 @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
/* header styles */
.nav-main-container{
    max-width: 1000px;
    margin: 0 auto;
    /* background-color: beige; */
    /* border: 2px solid red; */
    display: flex;

}
.logo-name-container{
    /* border: 2px solid; */
    min-height: 80px;
    display: flex;
    align-items: center;
    display: flex;
    width: 50%;
    
}
.logo-name{
    font-size: 35px;
    font-weight: 800;
}
.logo-name span {
    color: #FF5400;
    
}
.nav-item{
    /* border: 2px solid blue; */
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
.nav-item a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #131318;

}
.nav-item span{
    color: #FF5400;
    font-weight: 800;
}
/* header styles end */


/* sec-1 styles */
.sec-1{
    display: flex;
    /* border: 2px solid red; */
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    

}
.back-img{
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    border-radius: 5px;
    /* border: 2px solid; */
    max-width: 1000px;
    height: 400px;
    display: flex;
    /* margin: 0 auto; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.back-img .h1{
    font-size: 45px;
    font-weight: 1000;
    color: #FFFFFF;
}
.back-img p {
    /* border: 2px solid; */
    width: 50%;
    color: #FFFFFF;
    
}
.blur{
    margin-left: 20px;
}
.back-img .blur{

    /* border: 2px solid red; */
    height: 100px;
    flex-direction: column;  
    gap: 10px;
    width: 600px;
    margin-top: 10px;
    background: rgba(255, 255, 255,.2);
}
.blur input{
    top: 50%;
    left: 50%;
}
.blur input, button{
    /* width: 10%; */
    width: 70px;
    margin: 4px;
    text-align: left;
    border: 2px solid #FFFFFF;
    border-radius: 5px; 
    padding: 5px 70px 5px 5px;
    background-color: white;
    margin-top: 35px;
    margin-left: 10px;
}
button{
    width: 60px
    font-size: 1px;
    padding: 5px 4px 5px 5px;
    color: #FFFFFF;
    background-color: #FF5400; 
    
}
/* sec-1 end */
